<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="landingPage.css">
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

<div class="button">

    <button onclick="document.location='default.asp'">Travel</button>
    <button onclick="document.location='default.asp'">Host</button>
    <button onclick="document.location='default.asp'">Experience</button>

</div>

<h1>AirBnb</h1>
<h2>Book your next travel experience with us</h2>


<div class="image">
    <img src="../images/IMG_2575.JPG" width="1920" height="1080px">
    <p>
        Book within the next 30 days and get 20% discount
    </p>
</div>






</body>
</html>